.background-image {
  background-image: url('img/pngwing.com.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.container-custom {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 20px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 767.98px) {
  .container-custom {
      padding: 50px 20px;
  }
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.btn-login {
  background-color: #ff6600;
  color: #ffffff;
  width: 100%;
}

.btn-login:hover {
  background-color: #D78325;
}