.container {
    background-image: url('coffee2.png');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px;
  }
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .btn-login {
      background-color: #ff6600;
      color: #ffffff;
  }
  
  .btn-login:hover {
    background-color: #D78325;
  }